In [2]:
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import password

In [3]:
%load_ext sql

In [4]:
# Create connection with PostgreSQL databse
%sql postgresql://postgres:{password}@localhost/DataSweeper

In [5]:
# reflect an existing database into a new model
engine = create_engine(f"postgresql://postgres:{password}@localhost/DataSweeper")
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# We can view all of the classes that automap found
Base.classes.keys()

['application_record', 'credit_record']

In [7]:
# Save references to each table
Application_record = Base.classes.application_record
Credit_record = Base.classes.credit_record

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [9]:
# Perform a query to retrieve the data and precipitation scores
results = []
results = session.query(Credit_record.id, Credit_record.status).filter(Credit_record.status == "X" or Credit_record.status == "C").all()
# Save the query results as a Pandas DataFrame and set the index to the date column
df_good_applicants = pd.DataFrame(results, columns=['id','status'])
# Show dataframe
df_good_applicants

Empty DataFrame
Columns: [id, status]
Index: []

In [10]:
# Perform a query to retrieve the data and precipitation scores
results = []
results = session.query(Credit_record.id, Credit_record.status).filter(Credit_record.status == '0' or Credit_record.status == '1').all()
# Save the query results as a Pandas DataFrame and set the index to the date column
df_bad_applicants = pd.DataFrame(results, columns=['id','status'])
# Sort the dataframe by date
df_bad_applicants

Empty DataFrame
Columns: [id, status]
Index: []