In [1]:
import pandas as pd
from collections import Counter
import warnings
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
warnings.filterwarnings('ignore')

credit_application_df = pd.read_csv("../../Resources/datasets/ML_credit_application.csv")
credit_application_df.drop(['ID'], axis=1, inplace=True)
# Create our features
X = credit_application_df.drop(columns="STATUS_y")

# Create our target
y = pd.DataFrame(credit_application_df["STATUS_y"])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

Counter(y_train)

Counter({'STATUS_y': 1})

In [7]:
X_test

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,CNT_FAM_MEMBERS,AGE,EMPLOYMENT_PERIOD
16438,1,1,0,1,1.800,2,4,1,2,3,3.0,48.10,4.94
36006,1,0,1,2,1.125,4,4,3,1,3,3.0,33.21,10.19
34220,1,0,1,0,2.475,1,4,3,1,12,1.0,63.78,-1000.67
26632,1,1,1,0,4.500,4,1,1,1,10,2.0,48.65,13.96
15192,0,0,1,1,1.800,0,4,1,1,8,3.0,28.59,2.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6826,0,1,1,0,2.700,4,4,1,1,8,2.0,42.43,8.47
26785,1,1,1,1,4.500,0,4,1,1,3,3.0,47.39,1.43
21965,1,0,1,0,1.350,0,4,1,1,2,2.0,30.38,3.96
155,1,0,1,0,1.125,1,4,1,1,12,2.0,61.15,-1000.67
20537,1,0,0,0,1.575,4,1,2,1,6,1.0,51.62,9.52

In [8]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Import pickle library
import pickle


filename = 'randomForest_SMOTE_new.sav'
loaded_model = pickle.load(open(filename, 'rb'))

predictions = loaded_model.predict(X_test_scaled)

# Calculated the accuracy score
acc_score = accuracy_score(y_test, predictions)

# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         5977         1102
Actual 1          972         1064

Accuracy Score : 0.7724629731212287
Classification Report
              precision    recall  f1-score   support

           0       0.86      0.84      0.85      7079
           1       0.49      0.52      0.51      2036

    accuracy                           0.77      9115
   macro avg       0.68      0.68      0.68      9115
weighted avg       0.78      0.77      0.77      9115

In [11]:
X_test_scaled[0]

array([ 0.7012958 ,  1.28000983, -1.42912371,  0.76966762, -0.06355992,
       -0.23060404,  0.67308338, -0.38997147,  1.00795629, -1.44703241,
        0.8826216 ,  0.37066706,  0.44598657])

In [6]:
predictions

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)